h1{
    margin-top:50px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color:black;
}
.calculator {
    width: 260px;
    border: 5px solid black;
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: center;
}
#display {
    width: 100%;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}
button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    background-color:white;
    border-radius: 50%;
}
button:hover{
    background-color: orange;
    font-size:30px;
}
.equal{
    background-color: aqua;
}
@media (max-width: 480px) {
    .calculator {
        width: 90%;
    }
    button {
        width: 45px; 
        height: 45px;
        font-size: 18px; 
    }

    #display {
        font-size: 25px; 
    }
}
@media (min-width: 481px) {
    .calculator {
        width: 300px; 
    }

    button {
        width: 60px; 
        height: 60px;
        font-size: 24px; 
    }

    #display {
        font-size: 35px; 
}
}